@import '../../styles.scss';

.task-form {
    display: flex;
    justify-content: center;
}

.task-input {
    font-size: 1.5rem;
    padding: .66rem;
    width: 68%;
    font-family: 'Caladea';
    border: solid black 1px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    &:focus {
        outline: none;
    }
}

.add-button {
    @extend .filled-button;
    width: 6.5rem;
    border-radius: 0 5px 5px 0;
    background-color: darkblue;
    &:hover {
        background-color: blue;
    }
}