<div *ngIf="!task.completed" class="current task">
    <div class="title">
        {{task.title}}
    </div>
    <div class="controls">
        <button (click)="edit(task.id)" class="edit-button">Edit</button>
        <button (click)="complete(task.id)" class="done-button">Done</button>
        <button (click)="delete(task.id)" class="delete-button">Delete</button>
    </div>
</div>
<div *ngIf="task?.completed" class="completed task">
    <div class="title">
        {{task.title}}
    </div>
    <div class="controls">
        <button (click)="returnToCurrent(task.id)" class="return-button">Return</button>
        <button (click)="delete(task.id)" class="delete-button">Delete</button>
    </div>
</div>