<div class="wrapper">
  <app-new-task-form [add]="addTask.bind(this)"></app-new-task-form>
  <div class="sections">
    <div class="section">
      <div class="section-title">
        CURRENT
      </div>
      <div *ngFor="let task of getCurrentTasks()">
        <app-edit-task-form *ngIf="task.id === editingTaskId"
          [taskId]="task.id"
          [input]="task.title"
          [update]="updateTask.bind(this)"
          [cancel]="cancelEditTask.bind(this)">
        </app-edit-task-form>
        <app-task *ngIf="task.id !== editingTaskId"
          [task]="task"
          [edit]="editTask.bind(this)"
          [delete]="deleteTask.bind(this)"
          [complete]="completeTask.bind(this)"
          [returnToCurrent]="returnTaskToCurrent.bind(this)">
        </app-task>
      </div>
    </div>
    <div class="section">
      <div class="section-title">
        COMPLETED
      </div>
      <div *ngFor="let task of getCompletedTasks()">
        <app-task
          [task]="task" 
          [edit]="editTask.bind(this)"
          [delete]="deleteTask.bind(this)"
          [complete]="completeTask.bind(this)"
          [returnToCurrent]="returnTaskToCurrent.bind(this)">
        </app-task>
      </div>
    </div>
  </div>
</div>