@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
@import '../styles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: .66rem;
    row-gap: 2rem;
}

.sections {
    display: flex;
    justify-content: space-evenly;
    @media (max-width: 968px) {
        justify-content: space-between;
    }
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 35rem;
    @media (max-width: 1280px) {
        width: 28rem;
    }
    @media (max-width: 968px) {
        width: 24rem;
    }
    @media (max-width: 768px) {
        width: 16rem;
    }
}

.section-title {
    text-align: right;
    font-size: 1.75rem;
}

.update-button {
    @extend .filled-button;
    background-color: darkblue;
    &:hover {
        background-color: blue;
    }
}

.cancel-edit-button {
    @extend .outlined-button;
}

.task-form {
    display: flex;
    justify-content: center;
    column-gap: .25rem;
}

.task-input {
    font-size: 1.5rem;
    padding: .66rem;
    width: 70%;
    font-family: 'Caladea';
}